<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Courier New", Courier, monospace;
        }

        body {
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .box {
            width: 100px;
            height: 100px;
            background-color: #dedede;
        }

        .border {
            border: 5px dashed #666 !important;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: blue;
        }
        .uncomplated-item{
            background-color:  #dc354536;
            color:white;
        }
        .complated-item{
            background-color: #19875440;
            color:white;
        }
    </style>
</head>

<body>
    <!--#region DOM-Event-AttributeBinding-VDOM  -->

    <div id="app" class="container">
        <div class="row mt-5">
            <!--#region Link Attr Binding  -->
            <div @mousemove="updateCoords(2, $event)" @mouseleave="mouseleaved" class="col-2 card p-2">
                <!-- Attr binding yaparken v-bind: yada : kullanılabilir -->
                <a class="text-center" v-bind:href="linkAttr.href" :alt="linkAttr.alt" v-bind:target="linkAttr.target"
                    v-bind:denemeattr="linkAttr.denemeattr">
                    {{linkAttr.title}}
                </a>
                <button v-on:click="changeTitle">
                    Title Değiş
                </button>
                <span>{{coordinates}}</span>
                <br>
                <input type="text" v-model="inputValue" class="form-control">
                <br />
                <button class="btn btn-primary btn-sm">Ekle</button>
                <br />
                {{inputValue}}
            </div>
            <!--#endregion -->

            <!--#region click-mouseevent -->
            <div class="col-2 card p-2">
                <h3 class="text-center">
                    <!-- Vue değişkenlerinin kullanımı -->
                    {{counter}}
                </h3>
                <div class="d-flex justify-content-center align-items-center">
                    <!-- click event -->
                    <button @click="inc" class="btn me-2 btn-sm btn-primary">+</button>
                    <!-- küçük kodlar direk içine yazılabilir -->
                    <button @click="counter--" class="btn btn-sm btn-danger">-</button>
                </div>
                <div class="alert alert-warning mt-2 text-center">
                    5'ten {{counter > 5 ? "BÜYÜK" : "KÜÇÜK"}}
                </div>
            </div>
            <!--#endregion -->

            <!--#region VDOM -->
            <div class="col-2 card p-2">
                <h3 class="text-center">
                    {{counter}}
                </h3>
                <div class="d-flex justify-content-center align-items-center">
                    <button @click="inc" class="btn me-2 btn-sm btn-primary">+</button>
                    <button @click="counter--" class="btn btn-sm btn-danger">-</button>
                </div>
                <div class="alert alert-warning mt-2 text-center">
                    5'ten {{getCounterResult}}
                </div>
                <h3 class="text-center">
                    {{counter2}}
                </h3>
                <div class="d-flex justify-content-center align-items-center">
                    <button @click="counter2++" class="btn me-2 btn-sm btn-primary">+</button>
                    <button @click="counter2--" class="btn btn-sm btn-danger">-</button>
                </div>
                <div class="alert alert-warning mt-2 text-center">
                    7'den {{getCounterResult2}}
                </div>
            </div>
            <!--#endregion -->

            <!--#region ReactivityExamples -->
            <div class="col-2 card p-2">
                <!-- @keydown.enter="searchList" ekleyerek inputa yapabilirdik.Onun yerine computed kullanmayı seçtik              -->
                <input type="text" v-model="search">
                <button class="btn btn-sm btn-primary" @click="searchList">Ara</button>
                <pre class="mt-3">{{itemList}}</pre>
                <pre class="mt-3">{{filteredList}}</pre>
            </div>
            <!--#endregion -->

            <!--#region  Class Style Binding -->
            <div class="col-2 card p-2">
                {{border}}
                <button @click="showBorder = !showBorder">Border Ekle(me)</button>
                <div class="box" :class="{border : showBorder}">
                    
                </div>
            </div>
            <!--#endregion -->

            <!--#region main  -->
            <div class="col-2 card p-2">
                <div class="">
                    <button class="btn btn-sm btn-success" @click="showContainer = !showContainer">Aç/Kapat</button>
                    <h4 v-if="!showContainer" class="text-danger">Başlangıçta gözükecek</h4>
                    <h4 v-else class="text-primary">Sonra görenecek</h4>
                    <hr/>

                    <h3 :class="counterBoxClasses">{{counter3}}</h3>

                    <button class="btn btn-sm btn-success" @click="counter3++">Arttır</button>
                    <button class="btn btn-sm btn-danger" @click="counter3--">Azalt</button>

                    <p v-if="counter3 < 0">Counter negatif bro</p>
                    <p v-else-if="counter3 > 0">Counter pozitif bro</p>
                    <p v-else>Counter zero zero zero</p>

                    <hr/>
                    <p v-show="counter3 < 0">negatif </p>
                    <p v-show="counter3 > 0">pozitif</p>
                    <p v-show="counter3 == 0">zero zero</p>
                </div>
            </div>
            <!--#endregion -->

            <!--#region main  -->
            <div class="col-4 card p-2">
                <div class="">
                    <h3 class="text-center">TODO LİST</h3>
                    <div class="d-flex justify-content-start">
                        <input type="text" class="form-control me-2" @keydown.enter="addTodo">
                    </div>
                    <div v-if="todoList.length > 0">
                        <ul class="list-group">
                        <li v-for="todo in todoList" 
                        :key="todo.id" 
                        :class="{ 'complated-item' : todo.complated, 'uncomplated-item' : !todo.complated }"
                        class="list-group-item d-flex justify-content-between">
                            <div>
                                <input type="checkbox" class="form-check-input" v-model="todo.complated" :id="`complated_checkbox_${todo.id}`">
                                <label :for="`complated_checkbox_${todo.id}`" class="form-check-label ms-2">{{todo.text}}</label>
                            </div> 
                            <button class="btn btn-danger btn-sm" @click="removeItem(todo)">Sil</button>                           
                        </li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-success">Tamamlanmış item sayısı :{{complatedItemCount}}</small>
                            <small class="text-danger">Tamamlanmamış item sayısı :{{unComplatedItemCount}}</small>
                        </div>
                    </div>
                    <div v-else class="alert alert-warning">Heniz eklenmiş bir todo bulunmamaktadır</div> 
                </div>
            </div>
            <div class="col-4 card p-2">
                <pre>{{todoList}}</pre>
            </div>
            <!--#endregion -->
        </div>
    </div>
    


    <script>
        var app = Vue.createApp({
            data() {
                return {
                    counter: 0,
                    counter2: 0,
                    linkAttr: {
                        href: "google.com",
                        alt: "alt",
                        target: "target",
                        denemeattr: "denemeattr",
                        title: "Link Attr Bind"
                    },
                    coordinates: "1-1",
                    inputValue: "firstyValue",
                    itemList: ["elma", "armut", "kiraz", "çilek"],
                    // filteredList:[],
                    search: "",
                    showBorder:false,
                    boxClass: "border red",
                    class: {
                        border: false,
                        boxClass: "border red",
                    },
                    showContainer: false,
                    counter3: 0,
                    todoList : [
                        {id:1,text:"VueBootCamp1", complated:false},
                        {id:2,text:"VueBootCamp2", complated:false},
                        {id:3,text:"VueBootCamp3", complated:false},
                        {id:4,text:"VueBootCamp4", complated:false},
                        {id:5,text:"VueBootCamp5", complated:false},
                        {id:6,text:"VueBootCamp6", complated:false},
                        {id:7,text:"VueBootCamp7", complated:false},
                        {id:8,text:"VueBootCamp8", complated:false}
                    ],
                };
            },
            methods: {
                updateCoords(entry, e) {
                    this.coordinates = entry + " : " + e.x + " - " + e.y;
                    console.log(e);
                },
                mouseleaved(event) {
                    this.coordinates = "Mouse Leaved" + " : " + event.x + " - " + event.y;
                    console.log(event);
                },
                changeTitle() {
                    this.linkAttr.title = this.linkAttr.title == "Title değişti" ? "Link Attr Bind" : "Title değişti";
                },
                inc() {
                    this.counter++;
                },
                dec() {
                    this.counter--;
                },
                searchList() {
                    this.filteredList = this.itemList.filter((i) => i.includes(this.search));
                },
                addTodo(event){
                    this.todoList.push({
                        id : new Date().getTime(),
                        text : event.target.value,
                        complated:false,
                    });
                    event.target.value = "";
                },
                removeItem(todoItem){
                    this.todoList = this.todoList.filter(todo => todo != todoItem);
                }
            },
            //vue.js teki template değişirse bütün kodlar tekrar işleme konulur. 
            //Bundan kaynaklanan olumsuz yüklemeleri kaldırmak için computed objesi kullanılarak
            //sadece içindeki değişkenler değiştiğinde çalışan fonksiyonlar yazılabilir
            computed: {
                getCounterResult() {
                    console.log("Counter 1 worked");
                    return this.counter > 5 ? "Büyük" : "Küçük"
                },
                getCounterResult2() {
                    console.log("Counter 2 worked");
                    return this.counter2 > 7 ? "Büyük" : "Küçük"
                },
                filteredList() {
                    return this.itemList.filter((i) => i.includes(this.search));
                },
                counterBoxClasses(){
                    return {"bg-success text-white": this.counter3 > 0, "bg-danger text-white": this.counter3 < 0};
                },
                complatedItemCount(){
                    return this.todoList.filter((t) => t.complated).length;
                },
                unComplatedItemCount(){
                    return this.todoList.filter((t) => !t.complated).length;
                },
            },
            //watch ile belirtilen değişkenler izlenebilir ve değişim anında
            //newValue ve oldValue ile işlemler sağlanabilir
            watch: {
                counter(newValue, oldValue) {
                    console.log(oldValue, "=>", newValue);
                },
                getCounterResult(newValue, oldValue) {
                    console.log(oldValue, "=>", newValue);
                },
            }



        }).mount("#app");
    </script>

    <!--#endregion -->
    

</body>

</html>